*, *:after, *:before {
	box-sizing: border-box;
}

body {
	background-color: #6D90EF;
}

.app {
	display: block;
	padding: 16px;
	max-width: 600px;
	margin: 16px auto;
	border-radius: 4px;
	background-color: #FFFFFF;
}

.app__detail {
	background-color: #FFFFFF;
	display: block;
	padding: 16px;
	margin: 16px auto;
	border-radius: 4px;
	background-color: #FFFFFF;
}
.app__title {
	font-weight: 300;
	margin-top: 0;
	color: #131815;
}
/*.input-search {*/
	/*display: block;*/
	/*width: 100%;*/
	/*padding: 8px 4px;*/
	/*font-size: 14px;*/
	/*margin-bottom: 20px;*/
	/*outline: none;*/
/*&::-webkit-input-placeholder {*/
	 /*color: #758A9D;*/
	 /*font-weight: 300;*/
 /*}*/
/*}*/

.group__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 200px;
	overflow: scroll;
}
.user__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.user__item {
	margin-bottom: 8px;
	border: 1px solid #C1DEEB;
	color: #131815;
	font-weight: 300;
	padding: 8px 8px;
}
.user__delete {
	float: right;
	color: red;
	cursor: pointer;
}
.user__create {
	float: right;
	color: #081845;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 15px !important;
}

.user__drag-drop {
	width: 100%;
	border: 2px dashed #d3d3d3;
	color: #d3d3d3;
	padding: 30px 10px;
	height: 80px;
	text-align: center;
}

