<!DOCTYPE html>
<html lang="en">
<head>
	<title>Some Awesome Stuff</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script>
	<%=htmlWebpackPlugin.files.webpackManifest%>
</head>
<body>
<div id="app"></div>
</body>
</html>
